
<div id="AuthStyle">
  <div class="container">
    <div class="col-lg-4 col-lg-offset-4">
      <h1>CMS Admin Login</h1>
      <form action="/login" method="POST">
        <h4>Email</h4>
        <div><input type="text" name="email" placeholder="Email"></div>
        <h4>Password</h4>
        <div><input type="password" name="password" placeholder="Password"></div>
        <div><button type="submit">Login</button></div>
      </form>
    </div>
  </div>
</div>
