<div id="adminCMS">
  <div class="container">
    <div class="col-ld-12 col-md-12 col-sm-12 col-xs-12 dashWrapper">
      <h1>Admin Dashboard</h1>

      <a href="/pressreleases">VIEW PUBLISHED PRESSRELEASES</a></br></br>
      <a href="/marketingblog">VIEW PUBLISHED MARKETING BLOG</a></br></br>
      <a href="/admin/drafts">VIEW ALL DRAFTS</a>
    </div>
  </div>
</div>
