
<div id="createNewPost">
  <div class="container">
    <h1>New Company Blog Post</h1>
    <section id="companyBlogPostForm">
      <form action="/companyPost/new" method="post" enctype="multipart/form-data">
        <!--TITLE-->
        <h3>TITLE:</h3>
        <div><input type="text" name="title" placeholder="Enter Title..." size="70"></div>
        <!--DATE-->
        <h3>DATE TO RELEASE:</h3>
          <div>
            Date:<input id="releaseDateHook" type="text" name="date" size="35">
          </div>
        <!--CATEGORY-->
        <h3>CATEGORY:</h3>
        <div>
          <select type="text" name="category" placeholder="Category">
            <option>Select a category</option>
            <option value="Platform Updates &amp; Annoucements">Platform Updates &amp; Annoucements</option>
            <option value="Company News">Company News</option>
            <option value="Affiliates &amp; Partnerships">Affiliates &amp; Partnerships</option>
            <option value="Initiatives &amp; Philanthropy">Initiatives &amp; Philanthropy</option>
          </select></br></br>
        </div>
        <!--TAGS-->
        <h3>TAGS</h3>
        <div><input type="text" class="tagField" name="tagArray" placeholder="type a TAG and PRESS RIGHT ARROW and add more..." size="70"><span><input type='button' onclick="removeTags();" value="Delete Tags"></span><span class='tagContainer'></span></div>
        <div><input type="hidden" class="tagSender" name="tagSender" placeholder="tag sender" size="70"></div>
        <!--IMAGE-->
        <h3>IMAGE</h3>
        <p>Image: <input type="file" name="image" /></p>
        <!--CONTENT-->
        <h3>CONTENT</h3>
        <div><textarea name="content" rows="15" cols="50" placeholder="Content"></textarea></div>
        <!--PUBLISHED NOW???-->
        <h3>PUBLISH</h3>
        <div><input type="radio" name="published" value="true">&nbsp;Yes</div>
        <div><input type="radio" name="published" value="false">&nbsp;No</div></br></br>
        <!--SUBMIT-->
        <div><input type="submit" value=" "></div>
      </form>
    </section>
  </div>
</div>


<script>
  var tagArrayAll = [];
  $('.tagField').keydown(function(e) {
    var currentTag = $(this).val();
    if(e.which == 39) {
      $('.tagContainer').append('<span class="oneTag">'+currentTag+'&nbsp;&nbsp;</span>');
      $('.tagField').val('');
      tagArrayAll.push(currentTag);
      $('.tagSender').val(tagArrayAll);
      console.log(tagArrayAll);
      console.log(typeof tagArrayAll);
    }
  });

  function removeTags() {
    $('.oneTag').remove();
    $('.tagSender').val("");
    window.tagArrayAll = [];
  }

</script>
