<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  <h2>Search the Blog</h2>
  <div class="searchBoxWrapper">
    <div class="searchText">
      <form action="/companyblog" class="searchForm" name="searchForm" method="post" enctype="multipart/form-data">
        <input type="text" class="searchInput" name="searchInput" placeholder="Type a word or phrase to search">
      </form>
    </div>
    <div class="searchIcon">
      <i class="fa fa-search"></i>
    </div>
  </div>
  <div class="rightColumnLinks">
    <div class="rightColumnLinksBlock">
      <h2 id="marginHook">Blog Categories</h2>
      <a href="/companyblogsearch?word=Platform">Platform Updates &amp; Annoucements</a>
      <a href="/companyblogsearch?word=Company">Company News</a>
      <a href="/companyblogsearch?word=Affiliates">Affiliates &amp; Partnerships</a>
      <a href="/companyblogsearch?word=Philanthropy">Initiatives &amp; Philanthropy</a>
      <h2 class="altTopBorder">Other Resources</h2>
      <a href="/pressreleases?page=1">Press Releases</a>
      <a href="#">Media Coverage</a>
      <a href="#">Featured Suppliers</a>
    </div>
      <h2 class="altTopBorder">View by Date</h2>
      <h3>2014</h3>
      <div class="dynamicDateLinks"></div>
  </div>
  <div class="topTagWrapper">
    <h2>Tags</h2>


  </div>

</div>
