<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  <h2>Search the Blog</h2>
  <div class="searchBoxWrapper">
    <div class="searchText">
      <form action="/marketingblog" class="searchForm" name="searchForm" method="post" enctype="multipart/form-data">
        <input type="text" class="searchInput" name="searchInput" placeholder="Type a word or phrase to search">
      </form>
    </div>
    <div class="searchIcon">
      <i class="fa fa-search"></i>
    </div>
  </div>
  <div class="rightColumnLinks">
    <div class="rightColumnLinksBlock">
      <h2 id="marginHook">Blog Categories</h2>
      <a href="/marketingblogsearch?word=category1">Platform Announcements &amp; Updates</a>
      <a href="/marketingblogsearch?word=category2">Company News</a>
      <a href="/marketingblogsearch?word=category3">International Trade News &amp; Events</a>
      <a href="/marketingblogsearch?word=category4">Initiatives &amp; Company Philosophy</a>
      <a href="/marketingblogsearch?word=category5">Philanthropy</a>
      <h2 class="altTopBorder">Other Resources</h2>
      <a href="/pressreleases">Press Releases</a>
      <a href="#">Media Coverage</a>
      <a href="#">Featured Suppliers</a>
    </div>
      <h2 class="altTopBorder">View by Date</h2>
      <h3>2015</h3>
      <a href="/marketingblogsearch?word=APRIL2015">April /</a>
      <a href="/marketingblogsearch?word=MAY2015">May /</a>
      <a href="/marketingblogsearch?word=JUNE2015">June /</a>
      <a href="/marketingblogsearch?word=JULY2015">July /</a>
      <a href="/marketingblogsearch?word=AUGUST2015">August /</a>
      <a href="/marketingblogsearch?word=SEPTEMBER2015">September /</a>
      <a href="/marketingblogsearch?word=OCTOBER2015">October /</a>
      <a href="/marketingblogsearch?word=NOVEMBER2015">November /</a>
      <a href="/marketingblogsearch?word=DECEMBER2015">December /</a>
      <h3>2014</h3>
      <a href="/marketingblogsearch?word=JANUARY2014">January /</a>
      <a href="/marketingblogsearch?word=FEBRUARY2014">February /</a>
      <a href="/marketingblogsearch?word=MARCH2014">March /</a>
      <a href="/marketingblogsearch?word=APRIL2014">April /</a>
      <a href="/marketingblogsearch?word=MAY2014">May /</a>
      <a href="/marketingblogsearch?word=JUNE2014">June /</a>
      <a href="/marketingblogsearch?word=JULY2014">July /</a>
      <a href="/marketingblogsearch?word=AUGUST2014">August /</a>
      <a href="/marketingblogsearch?word=SEPTEMBER2014">September /</a>
      <a href="/marketingblogsearch?word=OCTOBER2014">October /</a>
      <a href="/marketingblogsearch?word=NOVEMBER2014">November /</a>
      <a href="/marketingblogsearch?word=DECEMBER2014">December /</a>
  </div>
  <h1>Company Blog</h1> <a href="/marketingblog">Company Blog Home</a><a href="/marketingPost/new">&nbsp;&nbsp;&nbsp;Create New Post</a>
</div>
