<div id="marketing-header" class="line">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/procur.png" /></a>
      </div>

      <div class="collapse navbar-collapse" id="nav-links">
        <ul class="nav navbar-nav navbar-right">
          <li class="tri">
            <a href="/admin/index">Admin Dashboard</a>
            <div class="hoverTriContainer">
              <div class="hoverTri"></div>
            </div>
          </li>
        <li class="tri">
          <a href="http://procur.com">Procur Home</a>
          <div class="hoverTriContainer">
            <div class="hoverTri"></div>
          </div>
        </li>
        <li class="tri">
          <a href="/companyblog">Company Blog</a>
          <div class="hoverTriContainer">
            <div class="hoverTri"></div>
          </div>
        </li>
        <li class="tri">
          <a href="/pressreleases?page=1">Press and Media</a>
          <div class="hoverTriContainer">
            <div class="hoverTri"></div>
          </div>
        </li>
          </ul>
      </div>
    </div>
  </nav>
</div>
