<h1>Press Release and Media</h1>

<hr>

<% posts.forEach(function(post){ %>
  <% if(post.published == true){ %>

  <div><a href="/pressreleases/<%= post.slug %>"><h3><%= post.title %></h3></a></div>
  <div><strong>Date Released: <%= post.createdAt %></strong></div>
  <div><p><%= post.abstract %></p></div>
 <% } %>
<% }); %>

 <a href="/pressRelease/new">Create New Press Release</a>
 <a href="#" onclick="nextPage(); return false;">NEXT</a>
 <a class="previous" href="#" onclick="previousPage(); return false;">PREVIOUS</a>


<script>

function nextPageFire(){
     var a = document.createElement('a');
     a.href = '';
     if (a.href == 'http://localhost:1337/pressreleases'){
     a.href = '/pressreleases?page=2';
     } else {
     var pageNumber = a.search.replace( /^\D+/g, '');
     a.href = '/pressreleases?page='+(parseInt(pageNumber)+1);
     }
     //a.innerHTML = "NEXT PAGE";
     //document.body.appendChild(a);
     return a.href;
}

function previousPageFire(){
     var a = document.createElement('a');
     a.href = '';
     if (a.href == 'http://localhost:1337/pressreleases'){
     return
     } else {
     var pageNumber = a.search.replace( /^\D+/g, '');
     a.href = '/pressreleases?page='+(parseInt(pageNumber)-1);
     }
     return a.href;
}


function nextPage(){
  window.location = nextPageFire();
}

function previousPage(){
  window.location = previousPageFire();
}

function isFirstPage(){
  var a = document.createElement('a');
  a.href = '';
  var pageNumber = a.search.replace( /^\D+/g, '');
  if (pageNumber == 1) return true;
  return false;
}

function isNextPageBlank(){
  var a = document.createElement('a');
  a.href
}

if (isFirstPage()==true){
    $(".previous").hide();
}





</script>
