<h1>New Press Release</h1>

<section id="pressReleaseForm">
  <form action="/pressRelease/new" method="post" enctype="multipart/form-data">
    <div><input type="text" name="title" placeholder="Title" size = "70"></div>
    <div><textarea name="abstract" placeholder="Abstract" rows="7" cols="50"></textarea></div>
    <div><textarea name="content" rows="20" cols="50" placeholder="Enter content Here"></textarea></div>
    <div><input type="checkbox" name="published" value="true">Publish now?</div>
    <p>Upload a Zip File: <input type="file" name="zip" /></p>

    <div><input type="submit" value="Upload"</div>
  </form>
</section>
