#adminCMS a {
  text-decoration: none;
  color: black;
  margin-top: 15px;
  display: block;
}

#adminCMS a:hover {
  color: orange;
}

#adminCMS .dashWrapper {

  padding: 20px;
  margin-top: 30px;
}

#adminCMS .draftsHeader {
  border-bottom: 2px solid black;
}

#adminCMS h3 {
  border-bottom: 2px solid #CECECE;
}
