#adminCMS .readyBlockLink {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px 0px;
  border-bottom: 1px dotted #cecece;
  background-color: #cdf0c2
}

#adminCMS .readyBlockLink:hover {
  background-color: #adebad;
}

#adminCMS .draftsBlockLink {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px 0px;
  border-bottom: 1px dotted #cecece;
  background-color: #ffffb2;

}

#adminCMS .draftsBlockLink:hover {
  background-color: #ffff80;
}

#adminCMS .dateHover {
  float:right;
  display: none;
  height: 20px;
  color: white;
  background-color: black;
  padding-left: 5px;
  padding-right: 5px;
}

#adminCMS .welcomeMessage {
  color: red;
  font-size: 15px;
}
#adminCMS .adminRow a {
  color: black;
  display: block;
  text-decoration: none;
  margin-top: 25px;
}

#adminCMS .adminRow a:hover {
  color: orange;
}

#adminCMS .innerblock {
  margin-left: 20px;
}

#adminCMS .dashWrapper {

  padding: 20px;
  margin-top: 30px;
}

#adminCMS .draftsHeader {
  border-bottom: 2px solid black;
  margin-bottom: 0px;
}

#adminCMS .draftsWrapper .draftTitleLink {
  margin-bottom: 10px;
}

#adminCMS h3 {
  border-bottom: 2px solid #CECECE;
}

#adminCMS .titleHoldingTank {
  font-size: 20px;
}

/*showOne*/

 .adminToolBox h3 {
  color: black;
  padding-left: 20px;
}

 .adminToolBox {
  border: 1px solid black;
}

 .adminTools {
  padding-left: 20px;
  padding-bottom: 10px;
}

 .adminTools a {
  padding-right: 20px;
  color: #cecece;
  text-decoration: none;
}

.adminTools a:hover {
  color: orange
}

/*AUTH STYLES*/

#AuthStyle button {
  margin-top: 0px;
  width: 70px;
}

#AuthStyle h1{
  border-bottom: 1px solid #cecece;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  margin-bottom: 30px;
}

#AuthStyle h4 {
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

#AuthStyle input {
  margin-bottom: 20px;
}
