#BlogIndex h6 {
  display: inline;
  margin-right:7px;
  font-family: Monterrat, sans-serif;
  font-weight: 800;
  font-size: 10px;
  text-transform: uppercase;
  color: black;

}

#BlogIndex h2 {
  font-family: Monterrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
}

#BlogIndex .rightColumnLinks h3 {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  color: black;
  font-style: italic;
  font-weight: 500;
}
#BlogIndex .rightColumnLinks a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  line-height: 20px;
}

#BlogIndex .rightColumnLinks a:hover {
  color: #fdc683;
}

#BlogIndex .rightColumnLinks .rightColumnLinksBlock a {
  display: block;
}

#BlogIndex .BlogPostSpecs {
  border-bottom: 3px solid #cecece;
  border-top: 1px solid #cecece;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 25px;
}


#BlogIndex .BlogPostSpecs span {
  margin-right: 20px;
  color: black;
  font-family: Roboto, sans-serif;
}

#BlogIndex .BlogPostPhoto {
  width: 100%;
  height: auto;
}

#BlogIndex .BlogPostPhotoWrapper {
  margin-bottom: 25px;
}

#BlogIndex .postTitle {
  margin-bottom: 15px;
}

#BlogIndex h3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 25px;
  font-weight: 200;
  color: black;
  letter-spacing: 0.06em;
}

#BlogIndex .readMoreLink {
  color: #fdc683;
  text-decoration: none;
}

#BlogIndex .nextpreviousWrapper {
  float:right;
}

#BlogIndex .pageNavigationWrapper {
  border-top: 1px solid #cecece;
  padding-top: 10px;
}

#BlogIndex .searchText input {
  float:left;
  width:75%;
  border: 2px solid #cecece;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;

}

#BlogIndex .searchIcon {
  float:left;
  height: 34px;
  width: 34px;
  padding-left: 10px;
  padding-top: 5px;
  border: 2px solid #cecece;
  border-left: 0px;
}

#BlogIndex .searchBoxWrapper {
}

#BlogIndex #marginHook {
  margin-top: 70px;
  border-top: 1px solid #cecece;
  padding-top: 30px;
}

#BlogIndex .altTopBorder {
  border-top: 1px solid #cecece;
  padding-top: 20px;
}

#BlogIndex .postContent {
  line-height: 23px;
  font-family: Roboto, sans-serif;
  margin-bottom: 50px;
}

#BlogIndex .pageNavigationWrapper {
  font-family: Roboto, sans-serif;
  margin-bottom: 30px;
}

#BlogIndex .pageNavigationWrapper a {
  text-decoration: none;
  color: black;

}

#BlogIndex .pageNavigationWrapper a:hover {
  color: #fdc683;

}

#BlogIndex .oneTopTag {
  color: black;
  text-decoration: none;
  padding-right: 5px;
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

#BlogIndex .oneTopTag:hover {
  color: #fdc683;
}

/*Not Found CSS*/

#BlogNotFound .searchAlt {
  display: inline;
  font-family: 'Open Sans',sans-serif;
  font-size: 25px;
  font-weight: 100;
  color: #a6a6a6;
  letter-spacing: 0.06em;
}

#BlogNotFound .searchAlternativesWrapper {
  margin-top: 30px;
}

#BlogNotFound p {
  font-family: 'Open Sans',sans-serif;
  font-size: 25px;
  font-weight: 200;
  color: black;
  letter-spacing: 0.06em;
  padding-bottom: 33px;
}

#BlogNotFound .outerWrap {
  padding-left: 0px;
}

#BlogNotFound .innerWrap {
  padding-left: 0px;
  padding-bottom: 20px;
}

#BlogNotFound .specialOuter {
  margin-top: 50px;
  border-bottom: 1px dotted #cecece;
  margin-bottom: 45px;
}

#BlogNotFound #notFoundContainer {
  border-bottom: 1px solid #cecece;
}

#BlogNotFound p {
  font-family: 'Roboto' ,sans-serif;
  font-size: 14px;
  line-height: 23px;
}

/*CREATE NEW POST PAGE*/

#createNewPost textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
  height: auto;
}

#createNewPost .postSubmitButton {
  margin-bottom: 30px;
}

#createNewPost #futureDate {
  display:none;
}

#BlogIndex .postContent img {
  width: 100%;
  margin-top: 20px;
}

#BlogIndex .postContent a {
  color: #fdc683;
  text-decoration: none;
}

@media print {
  .noprint {
    display: none;
  }
}

.tagContainer {
  color: green;
}










/*edit view*/
