#companyBlogIndex h6 {
  display: inline;
  margin-right:7px;
  font-family: Monterrat, sans-serif;
  font-weight: 800;
  font-size: 10px;
  text-transform: uppercase;
  color: black;

}

#companyBlogIndex h2 {
  font-family: Monterrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
}

#companyBlogIndex .rightColumnLinks h3 {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  color: black;
  font-style: italic;
  font-weight: 500;
}
#companyBlogIndex .rightColumnLinks a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  line-height: 20px;
}

#companyBlogIndex .rightColumnLinks a:hover {
  color: #fdc683;
}

#companyBlogIndex .rightColumnLinks .rightColumnLinksBlock a {
  display: block;
}

#companyBlogIndex .blogPostSpecs {
  border-bottom: 3px solid #cecece;
  border-top: 1px solid #cecece;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 25px;
}


#companyBlogIndex .blogPostSpecs span {
  margin-right: 20px;
  color: black;
  font-family: Roboto, sans-serif;
}

#companyBlogIndex .companyBlogPostPhoto {
  width: 100%;
  height: auto;
}

#companyBlogIndex .companyBlogPostPhotoWrapper {
  margin-bottom: 25px;
}

#companyBlogIndex .postTitle {
  margin-bottom: 15px;
}

#companyBlogIndex h3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 25px;
  font-weight: 200;
  color: black;
  letter-spacing: 0.06em;
}

#companyBlogIndex .readMoreLink {
  color: #fdc683;
  text-decoration: none;
}

#companyBlogIndex .nextpreviousWrapper {
  float:right
}

#companyBlogIndex .pageNavigationWrapper {
  border-top: 1px solid #cecece;
  padding-top: 10px;
}

#companyBlogIndex .searchText input {
  float:left;
  width:75%;
  border: 2px solid #cecece;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;

}

#companyBlogIndex .searchIcon {
  float:left;
  height: 34px;
  width: 34px;
  padding-left: 10px;
  padding-top: 5px;
  border: 2px solid #cecece;
  border-left: 0px;
}

#companyBlogIndex .searchBoxWrapper {
}

#companyBlogIndex #marginHook {
  margin-top: 70px;
  border-top: 1px solid #cecece;
  padding-top: 30px;
}

#companyBlogIndex .altTopBorder {
  border-top: 1px solid #cecece;
  padding-top: 20px;
}

#companyBlogIndex .postContent {
  line-height: 23px;
  font-family: Roboto, sans-serif;
  margin-bottom: 50px;
}

#companyBlogIndex .pageNavigationWrapper {
  font-family: Roboto, sans-serif;
  margin-bottom: 30px;
}

#companyBlogIndex .pageNavigationWrapper a {
  text-decoration: none;
  color: black;

}

#companyBlogIndex .pageNavigationWrapper a:hover {
  color: #fdc683;

}
