<h1>Edit Industry News Post</h1>

<section id="editIndustryBlogPostForm">
  <form action="/industrynewsPost/editpost" method="post">
    <div><input type="text" name="title" size="70" value="<%= post.title %>"></div>
    <div><textarea name="content" rows="30" cols="50"><%= post.content %></textarea></div>
    <div><input type="checkbox" name="published" value="true">Publish now?</div>
    <p>Change current image?: <input type="file" name="image" /></p>
    <div><input type="submit"</div>
  </form>
</section>

<div><a href="/industrynewsPost/unpublish/<%= post.id %>">Unpublish?</a></div>
