<h1>Edit Marketing Post</h1>

<section id="editMarketingBlogPostForm">
  <form action="/marketingPost/editpost" method="post" enctype="multipart/form-data">
    <div><input type="text" name="title" size="70" value="<%= post.title %>"></div>
    <div><textarea name="content" rows="30" cols="50"><%= post.content %></textarea></div>
  <div><input type="checkbox" name="published" value="true">Publish now?</div>
    <p>Change current image?: <input type="file" name="image" /></p>
    <p><input type="submit" value="Upload" /></p>
    <div><input type="submit"</div>
  </form>
</section>

<div><a href="/marketingPost/unpublish/<%= post.id %>">Unpublish?</a></div>
