<h1>Company Blog</h1>

<form action="/marketingblog" class="searchForm" name="searchForm" method="post" enctype="multipart/form-data">
  <input type="text" class="searchInput" name="searchInput" placeholder="Search for Something..." size="30">
</form>
<hr>

<h2>Sorry, no posts found</h2>

<a href="/marketingblog">Return to Home Company Blog Page</a>
